<div class="row">
  <div *ngIf="options" class="col-sm-11">
    <form [formGroup]="form" (ngSubmit)="createQuiz()">
      <fieldset>
        <label for="category">Select category</label>
        <app-auto-filter 
          id="category"
          formControlName="categoryLabel"
          placeholder="Select category"
          valueKey="label"
          [options]="options.categories"
        >
        </app-auto-filter>
      </fieldset>

      <fieldset *ngIf="subcategories.length">
        <label for="subcategory">Select subcategory</label>
        <app-auto-filter 
          id="subcategory"
          formControlName="categoryId"
          placeholder="Select subcategory"
          valueKey="id"
          [options]="subcategories"
        >
        </app-auto-filter>
      </fieldset>

      <fieldset>
        <label for="difficulty">Select difficulty</label>
        <select id="difficulty" style="display: block;" formControlName="difficulty">
          <option *ngFor="let difficulty of options.difficulties" [value]="difficulty.id">
            {{ difficulty.label }}
          </option>
        </select>
      </fieldset>

      <button class="primary" type="submit">
        Create
      </button>
    </form>
  </div>

  <div *ngIf="!options">
    Loading...
  </div>
</div>

<div *ngIf="questions" class="row">
   <app-quiz 
    [questions]="questions" 
    [canChangeQuestion]="canChangeQuestion"
    (changeQuestion)="onChangeQuestion($event)"
    (submit)="onSubmit($event)"
  >
  </app-quiz>
</div>
