<p [innerHTML]="question.question"></p>

<div>
  <button 
    *ngFor="let answer of question.all_answers"
    class="primary"
    [ngClass]="{
      'secondary': userAnswer !== correctAnswer && answer === correctAnswer,
      'tertiary': (!userAnswer && answer === currentSelection) || (userAnswer === correctAnswer && answer === userAnswer)
    }"
    [innerHTML]="answer"
    (click)="questionSelected(answer)"
  >
  </button>

  <button
    *ngIf="canChangeQuestion"
    class="inverse"
    (click)="questionChange()"
  >
    Change question
  </button>
</div>
